<div class="row">
  <h2>Section with heading</h2>

  <pre aria-hidden="true"><code class="language-html">
<section>
  <span>Heading</span>
</section>
  </code></pre>

  <section>
    <span class="h3">Heading</span>
  </section>

  <section>
    <h3>Heading</h3>
  </section>

</div>

<div class="row">
  <h2>Form</h2>

  <form role="form">
    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label>File input</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <form name="userForm" ng-submit="submitForm()" novalidate>


      <!-- NAME -->
      <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
          <label>Name</label>
          <input type="text" name="name" class="form-control" ng-model="user.name" required>
          <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
      </div>
      
      <!-- USERNAME -->
      <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
          <label>Username</label>
          <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
          <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
          <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
      </div>
          
      <!-- EMAIL -->
      <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
          <label>Email</label>
          <input type="email" name="email" class="form-control" ng-model="user.email">
          <p role="alert" aria-atomic="true" ng-bind-html="'Enter a valid email.'" ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block"></p>
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>
</div>

<div class="row">
  <h2></h2>
</div>